{% extends 'base.html' %}

{% block title %}ABOUT 
{% endblock title %}

{% block body %}
<div class="container my-5">
<h4>Exercise is any bodily activity that enhances or maintains physical fitness and overall health and wellness.

It is performed for various reasons, to aid growth and improve strength, preventing aging, developing muscles and the cardiovascular system, honing athletic skills, weight loss or maintenance, improving health and also for enjoyment. Many individuals choose to exercise outdoors where they can congregate in groups, socialize, and enhance well-being.

In terms of health benefits, the amount of recommended exercise depends upon the goal, the type of exercise, and the age of the person. Even doing a small amount of exercise is healthier than doing none.
</h4>
</div>
<div class="container my-5">
    <img src="/static/about.jpg" width="1100x">
    </div>
{% endblock body %}