{% extends 'base.html' %}

{% block title %}chest1
{% endblock title %}

{% block body %}
<div class="container ">
  <h1>THE BEST EXERCISES FOR CHISELED OBLIQUES</h1>
  <div class="container py-4">
  <h3>1.Cable Woodchop</h3>

  <h5>
    Instructions: 

Attach a rope to a cable tower, and move the cable to the highest pulley position.
Grab both handles of the rope and then kneel down onto one knee, your shoulders perpendicular to the stack.
With arms extended over the opposite shoulder, look straight ahead and pull the rope across your body finishing the movement at waist level.
Slowly bring the weight back to the start position and repeat the movement. Be sure to keep your core and abs tight at all times.
Try 3-4 sets of 8-10 controlled reps followed immediately by a single, lighter set of 20-25.
 </h5>
 <div class="container-fluid ">
  <img src="/static/1j.png" width="800x">
  <h3>2.Hanging Knee Raise Oblique Crunch</h3>
  <h5>
    Hanging knee raises suck. It’s murder on your hard-earned callouses, it strains your shoulders and it’s tough to eliminate sway. But for those willing to master hanging abdominal work, great rewards await. By bringing your pelvis toward your rib cage, you emphasize the lower half of your abs. And when you add the slight twist that’s called for on this obliques move, you truly get to experience what advanced oblique work should feel like.
    </h5>
    <div class="container-fluid ">
      <img src="/static/2j.png" width="800x">
  <h3>3.High-Pulley Oblique Cable Crunch</h3>
  <h5>
    Again, side crunches on the floor will only get you so far. You can replicate that motion from a standing position with this exercise…and against resistance, which is likely a missing element in your obliques training.
  </h5>
  <div class="container-fluid ">
    <img src="/static/3j.png" width="800x">

</div>

</div>

{% endblock body %}