{% extends 'base.html' %}

{% block title %}chest1
{% endblock title %}

{% block body %}
<div class="container ">
  <h1>THE 5 BEST ARM EXERCISES OF ALL TIME</h1>
  <div class="container py-4">
  <h3>1.Incline Dumbbell Curl</h3>

  <h5>
Incline dumbbell curls are typically performed on an—you guessed it—incline bench that’s set to an incline of 30-45 degrees to place maximum stress on the long head of the biceps.

“By allowing your arms to extend naturally on each side of the bench, the only beneficiary in this movement is your biceps,” he says. “It’s a great exercise to build well-rounded and defined arms.”
  </h5>
  <div class="container-fluid ">
    <img src="/static/1i.jpg" width="800">

  <h3>2.Standing Barbell Curl</h3>
  <h5>
    Standard barbell curls are a go-to exercise for people looking to add meat to their arms. The reason? Barbell curls have been known to produce serous results.  

    “It’s effective because the movement demands control and proper technique throughout the exercise,” Maglara explains. “Force your biceps to activate additional muscle fibers by holding an extra second or two at the top of the curl; this will result in bigger mass gains.”
    
    If barbell curls have been a staple in your routine for a while, switch your grip to close or wide, or do them from a seated position. 
  </h5>
  <div class="container-fluid ">
    <img src="/static/2i.jpg" width="800x">
  <h3>3.Seated Concentration Curl</h3>
  <h5>
    When done slowly, without relying on momentum, this isolation movement can help tack size on to your biceps peak. 

    “Your contraction is held throughout the [movement], so your biceps are engaged from the start, middle, and end position of the curl,” says Maglara. Alternatively, you can perform cable concentration curls. With either, remember to squeeze your biceps at the apex of the movement.
  </h5>
  <div class="container-fluid ">
    <img src="/static/3i.png" width="800x">
  <h3>4.Diamond Pushups</h3>

  <h5>
    Hitting the deck and repping out push-ups is a great way to strengthen the core, pecs, triceps, and delts. But if you want to shift more attention to the tris, switch to diamond push-ups (aka triangle push-ups). In fact, a study by the American Council on Exercise (ACE) found diamond push-ups to be the most effective move to engage muscle activity.

    “The diamond push-up is an excellent exercise to engage and fire up the triceps muscles,” says Maglara. “By keeping your hands close together—like the shape of a diamond—your triceps are kept under tension both concentrically and eccentrically. This results in a great burn.”
  </h5>
  <div class="container-fluid ">
    <img src="/static/4i.jpg" width="800x">
  <h3>5.Skull Crushers</h3>

  <h5>
    So long as you’re careful with the weight you choose and perform both the concentric and eccentric portions of the movement with strict control, the exercise won’t live up to its name. And whether they’re done with a cable, barbell, dumbbells, or an EZ curl bar, learning to utilize the skull crusher (or lying triceps presses) can add more mass and definition to your triceps.

    “Focus on the bottom portion of the movement by holding the bar for a second or two, and then slowly bringing the bar back to the start position. This will cause the triceps to recruit additional muscle fibers.” 
    
    Another tip: move your arms back so they’re at 45 degrees to the floor; this will help the muscles get a better stretch and remain under more tension during each rep. You can also make the move more challenging by moving it to an incline bench.
  </h5>
  <div class="container-fluid ">
    <img src="/static/5i.jpg" width="800x">

</div>

</div>
{% endblock body %}