{% extends 'base.html' %}

{% block title %}chest1
{% endblock title %}

{% block body %}
<div class="container ">
  <h1>HOW TO START LIFTING AGAIN WITHOUT GETTING INJURED...</h1>
  <div class="container text-align=center px-3">
    <img src="/static/s1.jpg" width="1100px">
  <div class="container py-4">
   <ul class="container my-4 ">
      <h3>Taking time off from the gym is something no ever wants to do, but sometimes, it’s inevitable. Whether it’s due to an injury, an extended vacation, or something like the global pandemic we’re going through, there are times when making it to the gym just won’t be an option.</h3>
      <div class="container-fluid text-align=center py-4">
        <img src="/static/s2.jpg" width="1000px">
      <h3>Unfortunately, taking a hiatus from your iron paradise will result in some lost gains if you’re the type of lifter who lives for vintage Ronnie Coleman videos and the thud of a loaded bar on the deadlift platform. You can—and should—work out at home to maintain as much muscle as you can, but bands and the odd dumbbell or kettlebell won’t replicate the big lifts.</h3>
    </br>
      <h3>By now, many gyms around the U.S. are slowly reopening, and we’re willing to guess that the first thing most people want to do the second they return to theirs is get back to lifting heavy. But unless you want to get hurt and spend even more time out of commission, don’t try to pick up right where you left off.</h3>
      <div class="container text-align=center">
        <img src="/static/s3.jpg" width="950px">
      <h3>“We see a tremendous amount of injuries in people that take time off from the gym—could be as short as two weeks—and go back to the gym thinking that they’ve maintained their strength and put on the same weights, do the same repetitions, and ultimately overtax the muscle and cause strains or tears,” says John Gallucci, CEO of JAG-ONE Physical Therapy, medical coordinator for Major League Soccer, and sports medicine consultant.</h3>
    </br>
      <h3>If you’re thinking that those silly injuries aren’t for those who have spent years dedicated to the gym, think again. Unless you’re Captain America, your body works the same way everyone else’s does.</h3>
    </br>
      <h3>No matter who you are or how long you’ve been lifting, your body will have changed at least a little bit over the course of this quarantine, and you’ll have to adjust your training accordingly.</h3>
    
    

    
   </ul>
  

</div>

</div>
{% endblock body %}